<table class="table">
    <thead>
    <tr>
        <th>Titulo</th>
        <th>Isbn</th>
        <th>Precio</th>
        <th>Agregar/Quitar</th>
        <th>Cantidad</th>
        <th>Disponibilidad</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |libro|}}
        <tr>
            <td>{{libro.nombreLibro}}</td>
            <td>{{libro.isbn}}</td>
            <td>{{libro.precio}}</td>
            <td><button {{action 'sumarUnItem'}} type="submit" class="btn btn-success">+1</button>
                <button {{action 'restarUnItem'}} type="submit" class="btn btn-danger">-1</button>
            </td>
            <td><h4><span class="label label-info">0</span></h4></td>
            <td><h4><form id="{{libro.cantidad}}" class="label label-info">{{catalogo.cantidad}}</form></h4></td>
        </tr>
    {{/each}}
    </tbody>
</table>
